.formula_style{
	font-size: 30px;
	display: inline-block;
	cursor: pointer;
}

.formula_styleSub{
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
}

#wrapper {
  	text-align: center;
}

.paddingToText{
	padding: 0 10%;
}

td.details-control {
    background: url('img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('img/details_close.png') no-repeat center center;
}

.addTopPadding{
	margin-top: 5%;
}

#listaActivosSelect{
	//border-radius: 20px;
	width: 80%;
	display: block;
	margin: 0 auto;
}

#listaActivosSelect option{
	border-bottom-style: double;
}

.loadingScreen{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color:rgba(189,189,189,0.3);
	z-index: 10;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadingScreenText{
	color: black;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700; line-height: 20px;
	background-color: white;
	border-radius: 6px;
	padding: 1%;
}

.circle:before {
  	content: ' \25CF';
  	font-size: 50px;
}

.flex_status{
	display: flex;
	align-items: center;
	justify-content: center;
}